@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;

  &.dark {
  }
}

.header {
  background-image: url('../assets/header.png');
  background-size: cover;
  min-height: 500px;
  background-repeat: none;
  @apply flex items-center justify-center text-5xl
    font-medium text-white;

  .inner {
    @apply max-w-md;
  }
}
